<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativealarmmodule">
  <application>
    <receiver
      android:name=".AlarmReceiver"
      android:enabled="true"
      android:exported="true">
    </receiver>

    <service android:name=".UniversalService" />
  </application>
</manifest>
